<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>726495905358-bkicb1vqfi6p9t9h4g4u5hur03pau0g3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.726495905358-bkicb1vqfi6p9t9h4g4u5hur03pau0g3</string>
	<key>API_KEY</key>
	<string>AIzaSyBezCl9GxN60frxbFlLnnPKPAM8V9_exzk</string>
	<key>GCM_SENDER_ID</key>
	<string>726495905358</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hupptest</string>
	<key>PROJECT_ID</key>
	<string>hupp-test</string>
	<key>STORAGE_BUCKET</key>
	<string>hupp-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:726495905358:ios:3827ff493ca0a507</string>
	<key>DATABASE_URL</key>
	<string>https://hupp-test.firebaseio.com</string>
</dict>
</plist>